@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{

    header{
        position: fixed;
        display: flex;
        height: 80px;
        width: 100%;
        align-items: center;
        z-index: 1000;
        background: white;
        transition: 0.25s;
        overflow: hidden;
        font-size: 20px;
        animation: animation-header 1s ease-out 0s 1 normal none;

        @keyframes animation-header {
            0%{
                filter: blur(100px);
            }
            100%{
                filter: blur(0%);
            }
        }

        .logoHeader{
            width: 33%;
            height: 60%;
            text-align: center;

            #imgLogoHeader{
                height: 100%;
                width: fit-content;
                transition: 0.5s ease-in-out;
            }

            #puce{
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                font-size: 5px;
                opacity: 0;
                position: relative;
                top: -80px;
                left: calc(50% - 50px);
                width: 100px;
                height: 100px;
                background: linear-gradient(90deg, red, blue, purple);
                border-radius: 50%;
                transition: 0.5s ease-in-out;
            }
        }

        #listeHeader{
            display: flex;
            justify-content: space-around;
            width: 34%;
            height: 100%;
            list-style-type: none;

            li{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 33%;
                height: 100%;
                transition: 0.5s;

                &:hover{
                    width: 40%;
                }
            }
        }

        #barreListeHeader{
            opacity: 0;
            position: absolute;
            top: calc(80px - 10px);
            width: 100px;
            height: 10px;
            background-color: black;
            transition: 0.5s;
        }
        
        .buttonContactHeader{
            width: 33%;
            display: flex;
            justify-content: center;

            button{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 5px;
                width: 220px;
                height: 50px;
                border: 2px solid black;
                background-color: white;
                border-radius: 50px;
                overflow: hidden;

                &:hover{

                    .pointCouleurButtonContact{
                        scale: 16;
                    }

                    p{
                        width: 230px;
                        padding-right: 80px;
                        color: white;
                        font-size: 18px;
                    }
                }

                p{
                    position: absolute;
                    width: calc(240px - 30px - 10px);
                    z-index: 2;
                    transition: 0.4s;
                    font-size: 18px;
                }

                .pointCouleurButtonContact{
                    width: 30px;
                    height: 30px;
                    background: linear-gradient(90deg, blue, purple);
                    border-radius: 50%;
                    transition: 0.4s;
                }

                .pointNoirButtonContact{
                    width: 30px;
                    height: 30px;
                    background: white;
                    border-radius: 50%;
                    z-index: 3;
                }
            }
        }
    }

    .presentation{
        height: 100vh;
        display: flex;
        padding: 50px;

        .text-presentation{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 45%;

            .sur-text-presentation{
                font-size: 48px;
                position: relative;
                animation: animation-sur-text-presentation 2s ease-out 0s 1 normal none;

                @keyframes animation-sur-text-presentation {
                    0%{
                        right: 100px;
                        opacity: 0;
                    }
                    37%{
                        right: 100px;
                        opacity: 0;
                    }
                    87%{
                        right: 0;
                        opacity: 100%;
                    }
                    100%{
                        right: 0;
                        opacity: 100%;
                    }
                }
            }

            h1{
                font-size: 120px;
                position: relative;
                animation: animation-text-presentation 2s ease-out 0s 1 normal none;

                @keyframes animation-text-presentation {
                    0%{
                        right: 100px;
                        opacity: 0;
                    }
                    25%{
                        right: 100px;
                        opacity: 0;
                    }
                    75%{
                        right: 0;
                        opacity: 100%;
                    }
                    100%{
                        right: 0;
                        opacity: 100%;
                    }
                }
            }

            .sous-text-presentation{
                font-size: 48px;
                position: relative;
                animation: animation-sous-text-presentation 2s ease-out 0s 1 normal none;

                @keyframes animation-sous-text-presentation {
                    0%{
                        right: 100px;
                        opacity: 0;
                    }
                    50%{
                        right: 100px;
                        opacity: 0;
                    }
                    100%{
                        right: 0;
                        opacity: 100%;
                    }
                    
                }
            }

            ul{
                display: flex;
                flex-direction: column;
                justify-content: end;
                height: 30%;
                list-style: none;
                font-size: 24px;
                padding-left: 30px;
                gap: 10px;

                li{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    position: relative;
                    
                    &::before{
                        content: url(v-icon.png);
                    }
                }

                .argument-presentation-1{

                    animation: animation-argument-presentation-1 2.5s ease-out 0s 1 normal none;

                    @keyframes animation-argument-presentation-1 {
                        0%{
                            bottom: 100px;
                            opacity: 0;
                        }
                        70%{ //1.5s
                            bottom: 100px;
                            opacity: 0;
                        }
                        100%{
                            bottom: 0;
                            opacity: 100%;
                        }
                    }
                }

                .argument-presentation-2{

                    animation: animation-argument-presentation-2 2.5s ease-out 0s 1 normal none;

                    @keyframes animation-argument-presentation-2 {
                        0%{
                            bottom: 100px;
                            opacity: 0;
                        }
                        65%{ //1.5s
                            bottom: 100px;
                            opacity: 0;
                        }
                        100%{
                            bottom: 0;
                            opacity: 100%;
                        }
                    }
                }

                .argument-presentation-3{

                    animation: animation-argument-presentation-3 2.5s ease-out 0s 1 normal none;

                    @keyframes animation-argument-presentation-3 {
                        0%{
                            bottom: 100px;
                            opacity: 0;
                        }
                        60%{ //1.5s
                            bottom: 100px;
                            opacity: 0;
                        }
                        100%{
                            bottom: 0;
                            opacity: 100%;
                        }
                    }
                }
            }
        }

        .img-presentation{
            display: flex;
            align-items: center;
            width: 55%;
            overflow: hidden;

            img{
                width: 100%;
                position: relative;

                animation: animation-img-presentation 1.75s ease-out 0s 1 normal none;

                @keyframes animation-img-presentation {
                    from{
                        top: 200px;
                        opacity: 0;
                    }
                    to{
                        top: 0;
                        opacity: 100%;
                    }
                }
            }
        }
    }

    .services{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 300px;
        padding: 0 50px 100px 50px;
        gap: 50px;

        .service-services{
            display: block;
            font-size: 24px;
        }
    }

    .portfolio{
        height: 75vh;
        overflow: hidden;
        text-align: start;

        .sites-defilants{
            display: flex;
            align-items: center;
            position: relative;
            width: calc((50vw + 200px) * 5);
            gap: 200px;
            height: 60vh;

            .site{
                display: block;
                width: 50vw;
                height: 50vh;
                background-color: gray;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 40px;
                transition: 0.2s;

                &:hover{
                    scale: 1.05;
                    filter: brightness(30%);

                    p{
                        opacity: 100%;
                        scale: 1.15;
                    }
                }

                p{
                    opacity: 0;
                    transition: inherit;
                }
            }
        }

        h4{
            color: darkgrey;
            display: inline;
            padding: 25px 50px;
            border-radius: 50px;
            padding-left: 100px;
            transition: 0.5s;

            &:hover{
                color: rgb(111, 111, 111);
                text-decoration: underline;
                font-size: 20px;

                &::after{
                    content: ' >';
                }
            }
        }
    }

    .contact{
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 36px;
    }

    .blog{

        padding: 150px;

        h1{
            text-align: start;
            margin: 100px;
            font-size: 48px;
        }

        .actus{

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 50px;

            .derniereActu{
                width: 80%;
                height: 800px;
                background-color: gray;
                border-radius: 48px;
                transition: 0.5s;

                &:hover{
                    scale: 1.05;
                }
            }

            .actusSecondaire{
                width: 48%;
                height: 500px;
                background-color: gray;
                border-radius: 48px;
                transition: 0.5s;

                &:hover{
                    scale: 1.05;
                }
            }
        }
    }


    footer{

        height: 300px;
        background-color: black;
    }
}